﻿body {
}

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

.label2 {
    display: inline-block;
    float: left;
    clear: left;
    width: 20%;
    text-align: left;
}

.label_chbox {
    display: inline-block;
    float: left;
    width: 20%;
    margin-left: 1%;
    text-align: left;
}

input {
    display: inline-block;
    float: left;
}

select {
    float: left;
}