﻿body {
}

table, th, td {
    border: 2px solid black;
}

th{
    height:50px;
    background: DimGray;
    font-size:large;
}

td {
    height: 35px;
    background:Gainsboro;
}
th,td{
    width: 170px;
}

#ordTable {
    display: inline-table;
}
#btnFaktura {
    display: inline-block;
    vertical-align: middle;

}

#checkbox {
    width: 15px;
}