﻿body {
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 1%;
    margin-left:auto;
    margin-right:auto;
}

td, th {
    padding: 8px;
}

.border {
    border: 1px solid black;
}

.row_0 {
    background-color: #ffffff;
}

.row_1 {
    background-color: #dddddd;
}

th {
    text-align: center;
}

tr, td {
    width: 1%;
    white-space: nowrap;
}

.number_td {
    text-align: right;
}

input {
    width: 50px;
}
