﻿@model Hurtownia.Models.Zamowienie

@{
    ViewBag.Title = "Cart";
}

<link rel="stylesheet" href="~/Content/table.css" type="text/css" />

<body>
    @using (Html.BeginForm()) {
        @Html.HiddenFor(m => m.ZamowienieId)

        <p><img style="float: right;" src="https://imageog.flaticon.com/icons/png/512/25/25619.png?size=1200x630f&amp;pad=10,10,10,10&amp;ext=png&amp;bg=FFFFFFFF" alt="" width="105" height="55" /></p>
        <h2 style="text-align: left; padding-left: 60px;">M&oacute;j koszyk (@Model.PozycjezZamowienia.Count)</h2>
        <br>
        <table>
            <thread>
                <tr class="border">
                    <th class="border">Nazwa</th>
                    <th class="border">Ilość</th>
                    <th class="border">Cena</th>
                    <th class="border">Cena łączna</th>
                    <th class="border">Dostępna ilość</th>
                </tr>
            </thread>
            <tbody>
                @for (int i = 0; i < Model.PozycjezZamowienia.Count; i++) {
                    @Html.HiddenFor(m => m.PozycjezZamowienia[i].Id)
                    @Html.HiddenFor(m => m.PozycjezZamowienia[i].Towar.ID)
                    @Html.HiddenFor(m => m.PozycjezZamowienia[i].Towar.IloscNaMagazynie)
                    <tr class="border row_@(i%2)">
                        <td class="border">@Model.PozycjezZamowienia[i].Towar.NazwaTowaru</td>
                        <td class="number_td border">@Html.EditorFor(m => m.PozycjezZamowienia[i].IloscTowaru, new { @class = "table" })</td>
                        <td class="number_td border">@Model.PozycjezZamowienia[i].Towar.Cena zł</td>
                        <td class="number_td border">@(Model.PozycjezZamowienia[i].Towar.Cena * Model.PozycjezZamowienia[i].IloscTowaru) zł</td>
                        <td class="number_td border">@Model.PozycjezZamowienia[i].Towar.IloscNaMagazynie</td>
                    </tr>
                }
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="number_td">Suma: @Model.WartoscZamowienia zł</td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td><button id="zlozZamowienieBtn" type="submit" class="btn btn-primary">Złóż zamówienie</button></td>
                </tr>
            </tbody>
        </table>
        <!--
        <p style="text-align: center; padding-left: 390px;">
            <button type="submit" class="btn btn-primary">Złóż zamówienie</button>
        </p>
        -->
    }
</body>