﻿@model Hurtownia.Models.Zamowienie

@{
    ViewBag.Title = "Edit";
}

<link rel="stylesheet" href="~/Content/addressForm.css" type="text/css" />

<body>
    <h2>Zamówienie</h2>
    <hr />
    <h3>Adres</h3>

    @using (Html.BeginForm()) {
    @Html.HiddenFor(m => m.ZamowienieId)
    <form>
        <label class="label2">Ulica: </label>
        @Html.EditorFor(m => m.Adres.Ulica)

        <label class="label2">Nr domu: </label>
        @Html.EditorFor(m => m.Adres.NumerDomu)

        <label class="label2">Nr mieszkania: </label>
        @Html.EditorFor(m => m.Adres.NrMieszkania)

        <label class="label2">Miasto: </label>
        @Html.EditorFor(m => m.Adres.Miasto)

        <label class="label2">Kod pocztowy: </label>
        @Html.EditorFor(m => m.Adres.KodPocztowy)

        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <hr />
        <label class="label2">Forma dostawy</label>
        @Html.DropDownListFor(m => m.StatusZamowieniaId, new SelectList(
                                                             new List<Object> {
                                                    new { value = 1, text = "Odbiór osobisty" },
                                                    new { value = 2, text = "Dowóz przez pracownika hurtowni" }
                                                             }, "value", "text", Model.ZamowienieId))
        <br>
        <br>
        <p style="text-align: center; padding-left: 390px;">
            @Html.ActionLink("Cofnij", "Summary", new { id = Model.ZamowienieId }, new { @class = "btn btn-danger" })
            <button type="submit" id="DalejBtn" class="btn btn-primary">Dalej</button>
        </p>
    </form>
    }
    </body>


