﻿@model List<Hurtownia.Models.Zamowienie>

@{
    ViewBag.Title = "OrdersList";
}

<link rel="stylesheet" href="~/Content/table.css" type="text/css" />

<body>
    @using (Html.BeginForm())
    {
        <p style="text-align: left;">&nbsp;</p>
        <table>
            <thread>
                <tr>
                    <th class="border">Nr zamówienia</th>
                    <th class="border">Wartosc brutto</th>
                    <th class="border">Data realizacji</th>
                    <th class="border">Data złożenia zamówienia</th>
                    <th class="border" id="checkbox">Wybierz</th>
                </tr>
            </thread>
             <tbody>
                @foreach (var zamowienie in Model)
                {
                    <tr class="border";>
                        <td text-align: left;">@zamowienie.NumerZamowienia</td>
                        <td class="number_td border">@zamowienie.WartoscZamowienia zł</td>
                        <td class="number_td border">@zamowienie.DataRealizacji.Date.ToString("yyyy.MM.dd")</td>
                        <td class="number_td border">@zamowienie.DataZlozenia.Date.ToString("yyyy.MM.dd")</td>
                        <td  class="number_td border"> <input type="radio" name="choosen" id ="radiobtn @zamowienie.ZamowienieId" value="@zamowienie.ZamowienieId"></td>
                        
                        
                    </tr>
                }
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td style="text-align:center"><button action="OrderProducts" class="btn btn-primary" name=button, id="btnFaktura">Generuj fakturę</button></td>
                        <td></td>
                    </tr>
                
            </tbody>

        </table>
        

    }
</body>

