﻿@model Hurtownia.Models.Zamowienie

@{
    ViewBag.Title = "OrderProducts";
}
<link rel="stylesheet" href="~/Content/table.css" type="text/css" />

<body>
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(m => m.ZamowienieId)
                        <p style="text-align: left;">&nbsp;</p>
                        <table>
                            <thread>
                                <tr>
                                    <th class="border">Nazwa</th>
                                    <th class="border">Ilość</th>
                                    <th class="border">Cena jednostkowa</th>
                                    <th class="border">Cena łączna</th>
                                </tr>
                            </thread>
                            <tbody>
                                @foreach (var pozycja in Model.PozycjezZamowienia)
                                {
                                    <tr class="border">
                                        <td class="number_td border">@pozycja.Towar.NazwaTowaru</td>
                                        <td class="number_td border">@pozycja.IloscTowaru</td>
                                        <td class="number_td border">@pozycja.Towar.Cena zł</td>
                                        <td class="number_td border">@(pozycja.Towar.Cena * pozycja.IloscTowaru) zł</td>
                                    </tr>
                                }
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td class="number_td">Suma: @Model.PozycjezZamowienia.Sum(poz => poz.IloscTowaru * poz.Towar.Cena) zł</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td style="text-align:right">@Html.ActionLink("Cofnij", "OrdersList", null, new { @class = "btn btn-danger" })</td>
                                        <td><button action="Invoice" class="btn btn-danger" , id="btnFaktura">Generuj</button></td>
                                    </tr>
                            </tbody>
                        </table>
                        

                    }
</body>