﻿@model Hurtownia.Models.Zamowienie

@{
    ViewBag.Title = "Payment";
}
<h1 style="text-align: center;">Wybierz opcję płatności</h1>
<p>&nbsp;</p>
<body>
    @using (Html.BeginForm())
    {@Html.HiddenFor(m => m.ZamowienieId)
                    <table style="height: 143px; margin-left:auto; margin-right:auto;" width="830">
                        <tbody>
                            <tr>
                                <td style="width: 200px;">&nbsp;<img src="https://www.shareicon.net/data/512x512/2016/04/16/750823_business_512x512.png" alt="" width="166" height="166" /></td>
                                <td style="width: 200px; text-align: center;"><img src="https://www.paypalobjects.com/webstatic/mktg/logo-center/PP_Acceptance_Marks_for_LogoCenter_266x142.png" alt="" width="223" height="119" /></td>
                                <td style="width: 201px;">&nbsp;<img src="http://logolist.ru/uploads/posts/2016-06/0_visa_symbol.jpg" alt="" width="196" height="78" /></td>
                                <td style="width: 201px;">&nbsp;<img src="https://brand.mastercard.com/content/dam/mccom/brandcenter/brand-history/brandhistory_mc1996_100_2x.png" alt="" width="218" height="138" /></td>
                            </tr>
                            <tr>
                                <td style="width: 200px; text-align: center;">
                                    <label>
                                        <input id="GotowkaRadioBtn" type="radio" name="paymentType" value="Gotówka" /> Gotówka
                                    </label>
                                </td>
                                <td style="width: 200px; text-align: center;">
                                    <label>
                                        <input id="PaypalRadioBtn" type="radio" name="paymentType" value="PayPal" /> Paypal
                                    </label>
                                </td>
                                <td style="width: 201px; text-align: center;">
                                    <label>
                                        <input id="VisaRadioBtn" type="radio" name="paymentType" value="Visa" /> Visa
                                    </label>
                                </td>
                                <td style="width: 201px; text-align: center;">
                                    <label>
                                        <input id="MastercardRadioBtn" type="radio" name="paymentType" value="Mastercard" /> Mastercard
                                    </label>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <br />
                    <div>
                        <button id="ZlozZamowienieBtn" style="margin:auto;display:block" action="Cart" class="btn btn-primary" name=button>Złóż zamówienie</button>
                    </div>
                }
</body>
<p style="padding-left: 60px; text-align: center;">&nbsp;</p>
<p style="padding-left: 60px;">&nbsp;</p>
<p style="text-align: justify;">&nbsp;</p>
<p style="text-align: justify;">&nbsp;</p>
<p style="text-align: justify; padding-left: 270px;">&nbsp;</p>