﻿@model Hurtownia.Models.Zamowienie

@{
    ViewBag.Title = "Summary";
}

<link rel="stylesheet" href="~/Content/table.css" type="text/css" />

<body>
<h2 style="text-align: left; padding-left: 60px;">Zamówienie</h2>
<table style="width: 1%; height: 120px; margin-left: auto; margin-right: auto;">
    <thread>
        <tr class="border">
            <th class="border">Nazwa</th>
            <th class="border">Ilość</th>
            <th class="border">Cena</th>
            <th class="border">Cena łączna</th>
        </tr>
    </thread>
    <tbody>
        @for (int i = 0; i < Model.PozycjezZamowienia.Count; i++) {
        <tr class="border row_@(i%2)">
            <td class="border">@Model.PozycjezZamowienia[i].Towar.NazwaTowaru</td>
            <td class="number_td border">@Model.PozycjezZamowienia[i].IloscTowaru</td>
            <td class="number_td border">@Model.PozycjezZamowienia[i].Towar.Cena zł</td>
            <td class="number_td border">@(Model.PozycjezZamowienia[i].Towar.Cena * Model.PozycjezZamowienia[i].IloscTowaru) zł</td>
        </tr>
}
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td class="number_td">Suma: @Model.WartoscZamowienia zł</td>
        </tr>
    </tbody>
</table>
<p style="text-align: center; padding-left: 250px;">
    @Html.ActionLink("Anuluj", "Cart", null, new { @class = "btn btn-danger" })
    @Html.ActionLink("Potwierdź", "Edit", new { id = Model.ZamowienieId }, new { @class = "btn btn-primary" })
</p>
</body>